<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="footer">
    <p><a href="/about">About us</a></p>
    <p>&copy 2018 KamandPrompt, IIT Mandi. All rights reserved.</p>
    <a href="https://www.facebook.com/groups/KamandPrompt/" class="fa fa-facebook" target="_blank"></a>
    <a href="https://github.com/KamandPrompt/CodeManiacs" class="fa fa-github" target="_blank"></a>
</div>
