<div class="footer">
    <br>
    <p>&copy 2018 KamandPrompt, IIT Mandi</p>
    <a href="www.facebook.com/KamandPrompt" class="fa fa-facebook"></a>
    <a href="in.linkedin.com" class="fa fa-linkedin"></a>
    <a href="https://github.com/KamandPrompt/CodeManiacs" class="fa fa-github"></a>
</div>
