<footer class="footer">
    <div class="container">
        <span>
            <p>&copy 2019 KamandPrompt, IIT Mandi. All Rights Reserved. <a href="/about">About Us.</a></p>
            <a href="https://www.facebook.com/groups/KamandPrompt/" class="fa fa-facebook" target="_blank"></a>
            <a href="https://github.com/KamandPrompt/CodeManiacs" class="fa fa-github" target="_blank"></a>
        </span>
    </div>
</footer>