<head>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
</head>

<section class="topbar">
    <div class="flexbox">
        <div class="flexbox" style="margin-top: 20px">
            <div style="margin-right: 10px;"><span><a href="/">HOME</a></span></div>
            <div style="margin-right: 10px;"><span><a href="/problems/all">PROBLEM SET</a></span></div>
            <div style="margin-right: 10px;"><span><a href="/rankings">RANKINGS</a></span></div>
            <div style="margin-right: 10px;"><span><a href="/user/login">LOGIN IN</a></span></div>
            <div style="margin-right: 10px;"><span><a href="/user/signup">SIGN UP</a></span></div>
            <div style="margin-right: 10px;"><span><a href="/user/profile">PROFILE</a></span></div>
            <div class="photo">
                <!the user's photo>
            </div>
        </div>
    </div>
</section>

<header>
    <h1 class="left">
        <img src="/photos/logo.png" id="logo">
    </h1>
</header>