<head>
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">

</head>
<section class="topbar">
        <div class="flexbox">
            <div class="flexbox" style="margin-top: 20px">
                <div style="margin-right: 10px;"><span><a href = "/">HOME</a></span></div>
                <div style="margin-right: 10px;"><span><a href = "problemset">PROBLEM SET</a></span></div>
                <div style="margin-right: 10px;"><span><a href = "rankings">RANKINGS</a></span></div>
                <div class="photo"><!the user's photo></div>
                
            </div>
            <div class="flexbox">
                <div class="photo">
                    <a href="https://www.gmail.com"><img src="photos/google.png" style="width: 40px; box-shadow: 0 0 10px;"></a>
                </div>
                <div class="photo">
                    <a href="https://www.github.com"><img src="photos/github.png" style="width: 40px; box-shadow: 0 0 10px"></a>
                </div>
                <div class="photo">
                    <a href="https://www.facebook.com"><img src="photos/facebook.png" style="width: 40px; box-shadow: 0px 0px 10px;"></a>
                </div>
            </div>
        </div>
    </section>
    
    <header>
        <h1 class="left">
            <img src="photos/logo.png" id="logo">
        </h1>
    </header>