<head>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
</head>

<style>
    .nav {
        margin-right: 5px;
        font-size: 13px;
    }
</style>

<section class="topbar">
    <div class="flexbox">
        <div class="flexbox" style="padding-top: 25px">
            <div class="nav"><span><a href="/">HOME</a></span></div>
            <div class="nav"><span><a href="/contests">CONTESTS</a></span></div>
            <div class="nav"><span><a href="/problems/all">PROBLEM SET</a></span></div>
            <div class="nav"><span><a href="/rankings">RANKINGS</a></span></div>
            <div class="nav"><span><a href="/ide">IDE</a></span></div>
            <% if (locals.user && locals.user.isAdmin === true) { %>
            <div class="nav"><span><strong><a href="/admin" style="color: rgb(153, 0, 0);">ADMIN</a></strong></span></div>
            <% } %>
            <% if (locals.user) { %>
            <div class="nav"><span><a href="/user/profile">PROFILE</a></span></div>
            <div class="nav"><span><a href="/user/logout">SIGN OUT</a></span></div>
            <% } else { %>
            <div class="nav"><span><a href="/user/login">SIGN IN</a></span></div>
            <div class="nav"><span><a href="/user/signup">SIGN UP</a></span></div>
            <% } %>
            <div class="nav"><span><a href="/contribution">CONTRIBUTE</a></span></div>
        </div>
    </div>
</section>

<header>
    <h1 class="left">
        <img src="/photos/logo.png" id="logo">
    </h1>
</header>