<nav class="navbar navbar-default">
  <div class="header">
      <div class="navbar-header">
        <img src="photos/logo.png" alt="My_Logo" height=100px>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        <div class="dropdown">
              <li><button onclick="myFunction5()" class="dropbtn">HOME</button></li>
              <div id="myDropdown5" class="dropdown-content">
                <a href="#DASHBOARD">DASHBOARD</a>
                <a href="#MAIN-HOME">MAIN HOME</a>
              </div>
        </div>
        <div class="dropdown">
              <li><button onclick="myFunction1()" class="dropbtn">PRACTICE</button></li>
              <div id="myDropdown1" class="dropdown-content">
                <a href="#Compiler">Code,Compile,Run</a>
                <a href="#beginner-problems">Beginner</a>
                <a href="#medium-problems">Medium</a>
                <a href="#hard-problems">Hard</a>
              </div>
        </div>
        <div class="dropdown">
              <li><button onclick="myFunction2()" class="dropbtn">COMPETE</button></li>
              <div id="myDropdown2" class="dropdown-content">
                <a href="#daily">DAILY BRAIN TEASERS</a>
                <a href="#hard-problems">WEEKLY CHALLENGE</a>
                <a href="#beginner-problems">MONTHLY CHALLENGE</a>
                <a href="#medium-problems">LONG CHALLENGE</a>
              </div>
        </div>
        <div class="dropdown">
              <li><button onclick="myFunction3()" class="dropbtn">FORUMS</button></li>
              <div id="myDropdown3" class="dropdown-content">
                <a href="#Compiler">ZULIPHAT</a>
                <a href="#hard-problems">FACEBOOK</a>
                <a href="#beginner-problems">GITHUB</a>
              </div>
        </div>
        <div class="dropdown">
              <li><button onclick="myFunction4()" class="dropbtn">LOGOUT</button></li>
              <div id="myDropdown4" class="dropdown-content">
                <a href="#logout">LOGOUT FROM THIS DEVICE</a>
                <a href="#all-logout">LOGOUT FROM ALL DEVICES</a>
              </div>
        </div>
        </ul>
        </div>
           IIT Mandi Official Coding Contest Judge
      </div>
</nav>
