<!DOCTYPE html>
<html>

<head>

	<title>Welcome CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link rel="stylesheet" type="text/css" href="/css/grid.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
	<header>
		<% include partials/header %>
	</header>
	<div class="main">
		<div class="slideshow-container">
			 <div class="owl-carousel owl-theme">
				<div class="item">
					<img src="https://i.imgur.com/mKbNoRZ.jpg">
					<div class="text caption">Knowledge</div>
				</div>
	
				<div class="item">
					<img src="https://i.imgur.com/a4jBySC.jpg">
					<div class="text caption">Fun</div>
				</div>
	
				<div class="item">
					<img src="https://i.imgur.com/TgTRLyl.jpg">
					<div class="text caption">Snacks</div>
				</div>
	
				<!-- <div class="item">
					<img src="https://i.imgur.com/aTYtzcC.jpg">
					<div class="text caption"><a href="/user/login">Join Now</a></div>
				</div>  -->
			</div> 
	</div>
	<div class="index-content">
		<p>CodeManiacs is an online judge, like Codechef and SPOJ made by and for the students of IIT Mandi.</p>
		<p>Here you can practice all the problems that were asked in the previous contests hosted by IIT Mandi (intra/
			inter college). We'll be very pleased if you contribute to this online judge to make it more awesome.</p>
		<p>For contributing, visit our <a href="/contribution">Contribution page</a>.</p>
	</div>
	
	<footer>
		<% include partials/footer %>
	</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<script>
	$('.owl-carousel').owlCarousel({
		loop:true,
		margin:10,
		nav:true,
		autoplay:true,
		autoplayTimeout:2200,
		autoplayHoverPause:true,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:1
			},
			1000:{
				items:1
			}
		}
	})
</script>

<script>
	var URL = window.location.href;
	if (URL.search("msg=") != -1) {
		var message = URL.split("msg=")[1];
		message = message.replace(/-/g, " ");
		window.alert(message);
	}
</script>

</html>