<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/problem_display.css">
    <title>First Contest | CodeManiacs</title>
</head>

<body>
	<header>
		<% include partials/header %>
	</header>
<h1 class="title center"> Problems for first contest</h1>
 <hr>
<div class="grid-content content">
        <div class="box">          
	    <aside>
	    <h4>Contest Ends in</h4>
	    <br>
	    </aside>
	</div>
	
	<div class="box">          
	    <aside>
	    <h4>Contest Ranks</h4>
	    <br>
	    </aside>
	</div>
	
	
	 <div class="box"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Successful Submissions</th>
                    </tr>
                </thead>
	</div>
</div>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
<script src="/js/contest_countdown.js"></script>

</html>
