<!DOCTYPE html>
<html>

<head>

    <title>Contribution | CodeManiacs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link rel="stylesheet" type="text/css" href="/css/contribution.css">
	<link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <div class="main-wrapper main">
        <div class="heading">
            <p class="H1">Want to contribute?</p>
            <p class="H3">You are always welcome!</p>
            <hr>
        </div>
        <div class="body H3">
            <p>
                We are really thankful to all the contributors who helped make this online judge what it is today. <a
                    href="https://github.com/KamandPrompt/CodeManiacs/graphs/contributors" target="_blank">Here</a> are
                the contributors list.
            </p>
            <p>
                We have used an open souce Judge0 API for the compilation and execution of codes which is currently
                hosted on our SNTC server at <a href="http://sntc.iitmandi.ac.in:3000/"
                    target="_blank">http://sntc.iitmandi.ac.in:3000/</a>. The
                technologies used to make this online judge are NodeJS, ExpressJS and MongoDB for thedatabase.
            </p>
            <p>
                Find our repo <a href="https://github.com/KamandPrompt/CodeManiacs" target="_blank">here</a>.
            </p>
            <p>
                For any other doubts or support contact <a href="https://www.facebook.com/akumar118" target="_blank">Aashish Kumar</a>, <a href="https://www.facebook.com/vishal.nnd1" target="_blank">Vishal Anand</a>.
            </p>
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>