<!DOCTYPE html>
<html>

<head>

	<title>Welcome CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/sheet.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
	<header>
		<% include partials/header %>
	</header>
	<div class="row">
		<div class="slideshow-container">
			<div class="mySlides fade">
				<div class="numbertext">1 / 4</div>
				<img src="https://i.imgur.com/mKbNoRZ.jpg" style="width:100%; height: 400px; box-shadow: 0 0 20px;">
				<div class="text caption">Knowledge</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">2 / 4</div>
				<img src="https://i.imgur.com/a4jBySC.jpg" style="width:100%; height: 400px; box-shadow: 0 0 20px;">
				<div class="text caption">Fun</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">3 / 4</div>
				<img src="https://i.imgur.com/TgTRLyl.jpg" style="width:100%; height: 400px; box-shadow: 0 0 20px;">
				<div class="text caption">Snacks</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">4 / 4</div>
				<img src="https://i.imgur.com/aTYtzcC.jpg" style="width:100%; height: 400px; box-shadow: 0 0 20px;">
				<div class="text caption">Join Now</div>
			</div>

			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>

		</div>
		<br>

		<div style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
		</div>

		<script>
			var slideIndex = 1;
			showSlides(slideIndex);

			function plusSlides(n) {
				showSlides(slideIndex += n);
			}

			function currentSlide(n) {
				showSlides(slideIndex = n);
			}

			function showSlides(n) {
				var i;
				var slides = document.getElementsByClassName("mySlides");
				var dots = document.getElementsByClassName("dot");
				if (n > slides.length) {
					slideIndex = 1
				}
				if (n < 1) {
					slideIndex = slides.length
				}
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[slideIndex - 1].style.display = "block";
				dots[slideIndex - 1].className += " active";
			}
		</script>
	</div>


	<div class="flexbox2">
		<div class="div">
			<div>
				<h3>Upcoming jung</h3>
				this some text
				hello
				hello
				hello
			</div>
			<div>
				<h3>problems with us</h3>
				text<br>
				text<br>
				text
			</div>
			<div>
				<h3>submissions</h3>
				text
				text
				text
				text
			</div>
		</div>
		<div class="div">
			<div>
				<h3>namaste</h3>
			</div>
		</div>
		<div class="div">
			<h3>Announcements</h3>
			<div>
				<h3>world at codemaniacs</h3>
				text<br>
				text<br>
				text<br>
			</div>
			<div>
				<h3>1st year contributors</h3>
				Dipanshu<br>
				Dinesh bhagat<br>
				Ruchika<br>
				Milind<br>

			</div>
		</div>
	</div>
	</div>

	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>
