<!DOCTYPE html>
<html>

<head>

	<title>Login | CodeManiacs</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/form.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link rel="stylesheet" type="text/css" href="/css/signin.css">
</head>
<body class="text-center">
	<header>
		<% include partials/header %>
	</header>

	<form action="/user/login" method="post" class="form-signin">
		<img class="mb-4" src="/photos/avatar.png" alt="" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="username" class="sr-only">Username</label>
			<input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<input type="submit" name="" class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
		<p class="mt-5 mb-3 text-muted">Don't have an Account? <a href="/user/signup"> Sign Up Now!</a></p>
	</form>

	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>
