<!DOCTYPE html>
<html>

<head>

	<title>Login | CodeManiacs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="/css/sheet.css">-->

<body>
	<header>
		<% include partials/header %>
    </header>
    
   <div class="main-w3layouts wrapper">
		<div align = "center"><h1><u><b> LOGIN</b></u></h1></div>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGN IN">
				</form>
				<p>Don't have an Account? <a href="/user/signup"> SignUp Now!</a></p>
			</div>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>
