<!DOCTYPE html>
<html>

<head>

    <title>Admin | CodeManiacs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link rel="stylesheet" type="text/css" href="/css/manage_admins.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <header>
        <% include partials/header %>
    </header>
    <div class="grid-content">
        <div class="manage-admins-table">
            <table class="table table-hover sortable">
                <h1><strong>Current Admins</strong></h1>
                <hr>
                <thead>
                    <tr>
                        <th scope="col"><a><i class="fa fa-sort" aria-hidden="true"></i> #</a></th>
                        <th scope="col"><a><i class="fa fa-sort" aria-hidden="true"></i> Username</a></th>
                        <th scope="col"><a><i class="fa fa-sort" aria-hidden="true"></i> Name</a></th>
                        <th scope="col"><a><i class="fa fa-sort" aria-hidden="true"></i> Email</a></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= data[i].username %></td>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].email %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="admin-manage-form-wrapper">
            <form name="add-admin" method="POST" action="/admin/add-admin">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="username" class="form-control" placeholder="username">
                    </div>
                    <button type="submit" class="btn btn-success">Add admin</button>
                </div>
            </form>
            <form name="remove-admin" method="POST" action="/admin/remove-admin">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="username" class="form-control" placeholder="username">
                    </div>
                    <button type="submit" class="btn btn-danger">Remove admin</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
<script>
    var URL = window.location.href;
    if (URL.search("msg=") != -1) {
        var message = URL.split("msg=")[1];
        message = message.replace(/-/g, " ");
        window.alert(message);
        window.open("/admin/manage-admins", "_self");
    }
</script>

</html>
