<!DOCTYPE html>
<html>

<head>

	<title>New Contest | CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
	<header>
		<% include partials/header %>
	</header>

	NEW CONTEST

	<form name="new-contest" action="/admin/new-contest" method="POST">
		Contest Name: <input type="text" name="contestName"><br>
		Date: <input type="date" name="date"><br>
		Starting Time: <input type="time" name="startTime"><br>
		Duration (minutes): <input type="text" name="duration"><br>
		<input type="submit" value="Create contest">
	</form>

	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>