<!DOCTYPE html>
<html>

<head>

	<title>New Contest | CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link rel="stylesheet" type="text/css" href="/css/contest_admin.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/grid.css">

</head>

<body>
	<header>
		<% include partials/header %>
	</header>
	<div class="main">
	<form class="contest-form" action="/admin/new-contest" method="POST">
		<h1><strong>NEW CONTEST</strong></h1><br>
		Contest Code: <span style="color:red">*</span><input type="text" name="contestCode"><br>
		Contest Name: <span style="color:red">*</span><input type="text" name="contestName"><br>
		Date: <span style="color:red">*</span><input type="date" name="date"><br>
		Starting Time: <span style="color:red">*</span><input type="time" name="startTime"><br>
		Duration (minutes): <span style="color:red">*</span><input type="text" name="duration"><br>
		Make the contest visible to the public? (1 for yes, 0 for no) <span style="color:red">*</span><input type="text" name="visibility"><br>
		Problems to be included (qID "," comma separated): <input type="text" name="problemsID"><br>
		<button type="submit" class="btn btn-success btn-md">Create Contest</button>	</form>
	</div>
	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>