<!DOCTYPE html>
<html>

<head>

    <title>Rankings | CodeManiacs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    
</head>

<body >
    <header>
        <% include partials/header %>
    </header>

    <div class="grid-content content">
        <div class="box">
            <h1 class="title center"> Rankings</h1>
            <hr>
            <table class="table sortable">
                <thead>
                    <tr>
                        <th><a><i class="fa fa-sort" aria-hidden="true"></i> Rank</a></th>
                        <th><a><i class="fa fa-sort" aria-hidden="true"></i> Username</a></th>
                        <th><a><i class="fa fa-sort" aria-hidden="true"></i> Solved</a></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].rank %>
                            </td>
                            <td>
                                <%= data[i].username %>
                            </td>
                            <td>
                                <%= data[i].solved %>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <!-- 
                This button will be added later on.
                <button class="button is-link">More</button> 
            -->
        </div>
    </div>

    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>