<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class=font-of-text>
    <div class="container-fluid bg-3 text-center">
      <div class="row">
        <div class="col-sm-4">
          Practice Hard To See Yourself Ruling The Table.
        </div>
        <div class="col-sm-4">
          <p>Join KamandPrompt on ZulipChat to get latest Updates on Contest</p>
        </div>
        <div class="col-sm-4">
          <p>Remember! Coding isn't a spectators sport.You have to get your hands dirty on codes to master it.</p>
        </div>
      </div>
      <h1>Rankings</h1>
    </div>
</div>
<input class="center-block" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="font-size:18pt;height:50px;width:500px;">
<br>
<table id="myTable" align=center style="width:80%">
        <tr>
           <th>Rank</th>
           <th>Username</th>
           <th>Rating</th>
           <th>Questions Solved</th>
         </tr>
        <tr>
           <td>1</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>2</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>3</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>4</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>5</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>6</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>7</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>8</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>9</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
        <tr>
           <td>10</td>
           <td></td>
           <td></td>
           <td></td>
        </tr>
   </table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
<% include partials/script %>
<% include partials/footer %>
</html>
