<!DOCTYPE html>
<html>

<head>
	<title>Submissions | CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
	<header>
		<% include partials/header %>
    </header>

	<h1>MY SUBMISSIONS</h1>
	<table>
		<thead>
			<th>Submission ID</th>
			<th>Problem Name</th>
			<th>Language</th>
			<th>Verdict</th>
			<th>Time</th>
			<th>Memory</th>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>
