<!DOCTYPE html>
<html>

<head>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		
		td, th {
			border: 2px solid #9b9b9b;
			text-align: left;
			padding: 8px;
		}
		
		tr:nth-child(even) {
			background-color: #e0dede;
		}
	</style>
	<title>Submissions | CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
	<header>
		<% include partials/header %>
    </header>

	<h1 style="text-align: center;">MY SUBMISSIONS</h1>
	<table>
		<thead style="background-color: rgb(251, 239, 222);">
			<th style="border: 1px solid #9b9b9b;">Submission ID</th>
			<th style="border: 1px solid #9b9b9b;">Problem Name</th>
			<th style="border: 1px solid #9b9b9b;">Language</th>
			<th style="border: 1px solid #9b9b9b;">Verdict</th>
			<th style="border: 1px solid #9b9b9b;">Time</th>
			<th style="border: 1px solid #9b9b9b;">Memory</th>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<footer>
		<% include partials/footer %>
	</footer>
</body>

</html>
