.footer {
    position: static;
    font-size: 16px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1em;
    background-color: #343a40!important;
    color: rgba(255,255,255,.5);
    text-align: center;
    clear: both;
    margin-top: -1em;
}

.fa-facebook {
    color: white;
}

.fa-github {
    color: white;
}

.links{
  /* background-color: #3498DB; */
  color:white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 38px;
}