html{
  margin:0;
  padding: 0;
  min-height: 100%;
}

body{
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* ::after, ::before{
  box-sizing: inherit;
}
.loginbox{
  width: 580px;
  height: 420px;
  background: url(../photos/box.jpeg);
  /* color: #fff; */
  left: 90%;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px;
  margin-bottom: 60px;
}
.signupbox{
  width: 580px;
  height: 640px;
  background: url(../photos/box.jpeg);
  background-repeat: repeat;
  /* color: #fff; */
  left:90%;
  position: relative;
  box-sizing: border-box;
  padding: 70px 30px;
  margin-bottom: 60px;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  /* color: #fff; */
  font-size: 16px;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(5, 5, 5, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(5, 5, 5, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
  
}
.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  /* color: #fff; */
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a{
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover
{
  color: #ffc107;
}

.signupbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.signupbox input{
  width: 100%;
  margin-bottom: 20px;
}

.signupbox input[type="text"], input[type="email"], input[type="password"]
{
  border: none;
  border-bottom: 0.5px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  /* color: #fff; */
  font-size: 16px;
}
.signupbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  /* color: #fff; */
  font-size: 18px;
  border-radius: 20px;
}
.signupbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.signupbox a{
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: darkgrey;
}

.signupbox a:hover
{
  color: #ffc107;
}
