.main-heading {
    width: 100%;
    height: 600px;
    /* background: red; */
    display: flex;
    padding: 30px;
}

#ide-heading {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

#editor {
    height: 100%;
}

.submit-container {
    height: 90%;
    flex: 0 0 50%;
    border-right: 2px solid rgb(233, 233, 233);
    padding-right: 30px;
}

.ide-output {
    height: 90%;
    margin-left: 20px;
    flex: 1;
}

textarea {
    resize: none;
}
