html, body {
    height: 100%;
}

.main-heading {
    margin: 0 20% 0 20%;
    padding: 30px;
}

#ide-heading {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

#editor {
    height: 100%;
}

.submit-container {
    height: 300px;
    flex: 0 0 50%;
    border-right: 2px solid rgb(233, 233, 233);
    padding-right: 30px;
}

.ide-output {
    height: 90%;
    margin-left: 20px;
    flex: 1;
}

textarea {
    resize: none;
    width: 100%;
}

.submit {
    text-align: right;
    padding-top: 10px;
}

#time-memo {
    text-align: left;
}

#submit-btn {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .main-heading {
        margin: 0 5% 0 5%;
    }
}