/* html,
body {
  height: 100%;
} */

.form-signin {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding:30px 0px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da !important;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.errmsg {
  color: red;
}