.grid {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: [main-start] 1fr [content-start] minmax(300px, 1000px) [content-end] 1fr [main-end];
    grid-template-rows: 100px auto 100px;
}
.grid-content {
    grid-column: content;
}
header,footer {
    grid-column: main;
}
footer {
    align-self: end;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}